body{
    background-color: grey;
}

ul{
   margin: 0%;
   padding: 0%;
   list-style: none;
   background-color: brown;
   display: flex;
   height: 60px;
}
li{
   
    margin: 5px;
    padding: 5px;
    background-size: 50px;
    line-height: 100%;
}
a{
    color: aliceblue;
    line-height: 190%;

    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}
a:hover{
    color: black;
   
}

h1{
    text-align: center;
    background-color: turquoise;
    background-size:cover ;
    color: aliceblue;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    line-height: 50px;
    font-size: xx-large;
    text-shadow: 10vh 10vh 10vh black;
    box-shadow: 6px 6px 5px black;
    display: flex;
    flex-wrap: wrap;

    font-weight: bolder;
    font-style: italic;
   
}



.row{
margin-top: 300px; 
margin-bottom: 200px;
margin-left: 150px;
margin-right: 250px;

display: flex;
flex-wrap: wrap;
justify-content: center;
}
.columpx{
    margin-right: 10px ;
    margin-top: 10px ;
    width: 200px;
    height: 325px;
    background-color: rgb(255, 255, 255);
    text-align: center;
   overflow: hidden;
}
.border{
    background-color:  rgb(255, 255, 255);
    height: 350px;
    width: 230px;
    margin: 5px;
    padding: 10px;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}
a.readmore{
    color: blue;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.active{
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5%;
    height: 123px;
    overflow: hidden;
    font-size: large;
    transition: 2s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    text-transform: capitalize;
  
}
.box{
    margin: -10px;
    height: 1050px;
    width: 1600px;
    background-color: white;
}
.text{
align-items: center;
font-size: large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 400;
text-transform: capitalize;
margin-left: 3%;
margin-right: 50%;

}
.image{
    height: 200px;
    width: 200px;
    margin-top: 5px;
    margin-left: 20px;
}
img{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    box-shadow: 6px 6px 6px grey;
    margin-left: -10px;
}
img:hover{
    border-radius: 20%;
    
}



  



.column a{
    color: blue;
    font-size: larger;
   
    
}
.column a:hover{
    color: red;
}
.privacy{
    background-color: burlywood;
}


@media screen and (max-width:400px)
{
    body{
        background-color: grey;
    }
    ul{
        margin: 0%;
        padding: 0%;
        list-style: none;
        background-color: brown;
        display: flex;
        height: 25px;
     }
     li{
   
    margin: 2px;
    padding: 2px;
    background-size: 25px;
    line-height: 100%;
}
a{
    color: aliceblue;
    line-height: 95%;

    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 200;
    text-transform: capitalize;
    text-decoration: none;
}
a:hover{
    color: black;
   
}
h1{
    text-align: center;
    background-color: turquoise;
    background-size:cover ;
    color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    line-height: 20px;
    font-size: medium;
    text-shadow: 5px 5px 5px black;
    box-shadow: 6px 6px 5px black;
    display: flex;
    flex-wrap: wrap;

    font-weight: bolder;
    font-style: italic;
   
}
.row{
    margin-top: 150px; 
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 50px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .columpx{
        margin-right: 5px ;
        margin-top: 5px ;
        width: 350px;
        height: 250px;
        background-color: rgb(255, 255, 255);
        text-align: center;
       overflow: hidden;
    }
    .border{
        background-color:  rgb(255, 255, 255);
        height: 350px;
        width: 150px;
        margin: 5px;
        padding: 10px;
        padding-left: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .text{
        align-items: center;
        font-size: large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 300;
        text-transform: capitalize;
        padding-right: 22%;
        margin-left: 3%;
        margin-right: 50%;
        width: 440px;

        }
        .box{
            margin: -10px;
            height: 1850px;
            width: 1500px;
            background-color: white;
        } 

}
